<nav class="navbar bg-indigo-100 sticky top-0 z-10 w-full px-6 py-4 text-indigo-700 bg-opacity-90  shadow-md flex justify-between items-center ">
    <a class="navbar-brand flex items-center gap-x-2 justify-center" href="#"> <h2 class="title text-3xl">EaseHire</h2> <h3>(Logo)</h3> </a>
    


    <div>
      <ul class="navbar-nav flex justify-evenly w-60">
        <li class="nav-item ">
          <a class="nav-link border border-indigo-700 p-3 rounded hover:bg-indigo-700 hover:text-white" href="#" routerLink="/login">Sign In </a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-indigo-700 p-3 rounded hover:bg-indigo-700 hover:text-white" href="#" routerLink="/register">Sign up</a>
        </li>            
      </ul>
    </div>

</nav>