<h2 mat-dialog-title>Edit Skill</h2>
<mat-dialog-content>
  <form [formGroup]="skillForm">
    <mat-form-field>
      <mat-label>Skill Name</mat-label>
      <input matInput formControlName="skill_name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Skill Type</mat-label>
      <mat-select formControlName="skill_type">
        <mat-option value="Technical">Technical</mat-option>
        <mat-option value="Soft">Soft</mat-option>
        <mat-option value="Management">Management</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
    <button mat-button class="save-button" (click)="onSave()">Save</button>
  </mat-dialog-actions>
  
