
.form-container {
    border: 1px solid #000; /* Adjust the border width and color as needed */
    padding: 30px;
    width: 350; /* Adjust the width as needed */
    margin: auto;
    height: 72vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}
.editbtn{
    background-color: #7ff436;
}
.editbtn:hover{
    background-color: #59b520;
}
