<div id="viewComponent" class="p-5 bg-gray-100 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Onboard oppurtunity</h2>

  <!-- Search Bar -->
  <div class="flex mb-4">
    <input [(ngModel)]="searchTerm" (input)="filterCustomers()" placeholder="Search customers..."
      class="w-full px-3 py-2 border rounded">
    <app-button class="px-7" (click)="addNewCustomer()">Add</app-button>
  </div>

  <ul>
    <li *ngFor="let customer of filteredCustomers">
      <app-card>
        <div>
          <p><strong>{{ customer.CUSTOMER_NAME }}</strong></p>
        </div>
        <div class="flex justify-end space-x-2">
          <app-edit-button id="editButton" (click)="editCustomer(customer)">Edit</app-edit-button>
          <app-delete-button (click)="deleteCustomer(customer.CUSTOMER_ID)">Delete</app-delete-button>
        </div>
      </app-card>
    </li>
  </ul>

  <form *ngIf="addNewCustomerVisible" [formGroup]="customerForm" (ngSubmit)="submitAddNewCustomer()" id="addCustomer" class="space-y-4 p-4 max-w-xs mx-auto" >
    <div class="flex flex-col">
      <label for="customerName" class="text-sm font-medium text-gray-700">Customer Name</label>
      <input id="customerName" formControlName="customername" type="text" class="mt-1 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
    </div>
    <app-button type="submit">Submit</app-button>
    <app-delete-button type="submit" >Cancel</app-delete-button>
  </form>