.nav-link{
    border: 1.5px solid #4338ca;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: small;
    font-weight: 600;
}

.nav-link:hover{
    color: #fff;
    background-color: #4338ca;
    transition: .5s;
}