<app-navbar></app-navbar>
<app-landingpage></app-landingpage>
<app-candidate-home></app-candidate-home>
<app-skill-management></app-skill-management>
<app-login></app-login>
<app-footer></app-footer>

<app-card>
  <h2>Card Title</h2>
  <p>Card content goes here.</p>
  <app-edit-button>Edit</app-edit-button>
  <app-delete-button>Delete</app-delete-button>
</app-card>

<app-modal [isVisible]="isModalVisible">
  <h2>Modal Title</h2>
  <p>Modal content goes here.</p>
  <p>This modal will go disapper in 4 seconds.</p>
</app-modal>

<app-alert [duration]="5000">Invalid credentials</app-alert>