<app-navbar></app-navbar><br><br><br><br>
<app-candidate-onboarding></app-candidate-onboarding>
<app-navbar></app-navbar>
 <!-- <app-landingpage></app-landingpage>
<app-login></app-login>
<app-adduser></app-adduser>

<app-modal [isVisible]="isModalVisible">
  <h2>Modal Title</h2>
  <p>Modal content goes here.</p>
  <p>This modal will go disapper in 4 seconds.</p>
</app-modal>

<router-outlet></router-outlet>


<app-alert [duration]="5000">Invalid credentials</app-alert>
 -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
