.edit-button {
    background: linear-gradient(45deg, #1e90ff, #00bfff);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .edit-button:hover {
    background: linear-gradient(45deg, #00bfff, #1e90ff);
    transform: translateY(-2px);
  }
  
  .remove-button {
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .remove-button:hover {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    transform: translateY(-2px);
  }
  .skill-management {
    padding: 24px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flex {
    display: flex;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-y-0 {
    top: 0;
    bottom: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  button svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  