/* You can add global styles to this file, and also import other style files */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}

:root {
    --footer-bg-color: #5c738f;
    --footer-text-color: #170101;
    --footer-link-color: #050709;
    --footer-link-hover-color: #cfe3eb;
    --footer-bg-strip-color:rgb(92, 182, 92);
    --footer-bg-underline:rgb(230, 34, 230);
  }
